@page "/customerC1"
@using BlazorApp1.Components

<PageTitle>customerC1</PageTitle>

<h3>C1</h3>

<h4>@P1</h4>

<Demo1 Color="btn-success" Icon="oi oi-home" Text="Testss" style="margin:10px;" />

<div>@Value</div>
<DemoInput @bind-Value="@Value" />
